/* Couleur orange foncé pour les liens non visités */
        a.nav-link {
            color: #ff6f61;
        }
        /* Couleur orange clair pour les liens au survol */
        a.nav-link:hover {
            color: #ffa07a;
        }
        html {
            position: relative;
            min-height: 100%;
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: #000000;
            color: #FFFFFF;
        }
