{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('back/user/_form.html.twig') }}

    <a class="btn btn-primary mt-1" href="{{ path('app_back_user') }}">Retour à la liste</a>
{% endblock %}
