{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content -->
        <h1>Bienvenue dans le Back Office DMFC</h1>
        <p>Gérez votre site de pronostique de match NBA ici.</p>
{% endblock %}
